* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

/* 进度条样式 */
#nprogress .bar {
    background: #67d391;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

/** 菜单pop样式 */
.el-menu--vertical.el-menu--popup-container > .el-menu.el-menu--popup > li.el-menu-item {
    height: 42px !important;
    line-height: 42px !important;
}

/** 容器自动伸缩样式 */
.eps-card-flex {
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .el-card__body {
        display: block;
        flex: 1;
        flex-basis: auto;
        overflow: auto;
    }
}

.content-log {
    height: calc(100% - 190px);
}

.res-log{
    height: calc(100% - 5px) !important;
}